<table class="data sortable">
  <thead>
    <tr>
      <th><%=t('Name')%></th>
    </tr>
  </thead>
  <tbody>
  <% languages.each do |language| %>
    <tr>
      <td><%=link_to(h(language.name),language_path(language))%></td>
    </tr>
  <%  end %>
  </tbody>
  <tfoot></tfoot>
</table>
