<table class="data sortable">
  <thead>
    <tr>
      <th><%=t('Name')%></th>
    </tr>
  </thead>
  <tbody>
  <% abilities.each do |ability| %>
    <tr>
      <td><%=link_to(h(ability.name),ability_path(ability))%></td>
    </tr>
  <%  end %>
  </tbody>
  <tfoot></tfoot>
</table>
